/*sobre*/
#sobre{
    background-color: var(--color-neutral-0);
  }
  
  .container {
    display: flex;
    align-items: center; /* Alinha imagem e texto verticalmente */
    gap: 15px; /* Espaço entre a imagem e o texto */
    max-width: 800px;
    margin: auto;
  }
  
  .imagem {
    width: 380px; 
    height: auto;
    border-radius: 8px; /* Borda arredondada opcional */
    margin-left: -240px;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column; /* Coloca título em cima e texto embaixo */
    text-align: justify;
    margin-left: 100px;
    
  }
  
  .titulo {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-neutral-1);
    padding-bottom: 10px;
  
    /*animation linha*/
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 90%,
      rgb(195,68,65,255) 90%
    );
  
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: left;
  
  
    transition: background-size 0.4s;
   
  }
  .titulo:hover{
    background-size: 40% 100%;
    background-position-x: left;
  }
  /*fim animation linha*/
  .texto {
    font-size: 18px;
    color: var(--color-neutral-1);
  }
  /*fim sobre*/